/*-----Base Styles-----*/

* {
    box-sizing: border-box;
}

html {
    font-size: 1.20em;
}

body {
    color:black;
    font:300 100%/1.5 'Open Sans', sans-serif;
}

.header-wrapper {
    background-color: whitesmoke;
    text-align: center;
    padding: 0 -2em 0;
}

p.headline{
    padding-bottom: 1.5em;
}
a:link, a:visited {
    text-decoration: none;
    color: black;
}

.main-nav {
    list-style: none;
}

#portfolio, #contact {
    text-transform: uppercase;
    font-size: 1em;
}

.content-headings {
    font-size: 1.1em;
    font-weight: 200;
}

.wrapper {
    margin: -1em;
    text-align: center;
}

.content-wrapper {
    text-align: center;
    margin: 0 5%; 
}

.logo, p.headline, .contact-text {
    padding: 1em 1em 0 1em ;
}

.col {

    padding:  1em;
}

.after-footerline {
    padding: 0 1em;
}

/**-----Styles------**/

header {
    margin: -1rem -1rem 1rem;
    padding: 5vh 1rem;
}


img {
    max-width: 100%;
    height: auto;
}

ul.main-nav {
    padding-left: 0px;
}

li {
    
    margin: 8px 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    
}


footer {
    margin: .5rem -1rem -1rem;
    padding: 1rem 10vh;
}


.student-namebottom {
    float: left;
    padding-right: 2rem;
}


#contact{

    margin-top: 5px;
    padding-top: 5px;
}

hr {
    margin-top: 3em;
}

/**---Media Queries---**/

@media screen and (min-width: 320px) {

    h1 {
        font-weight: 500;
        font-size: 1.5em;
    }
    nav, ul.main-nav {
        display: block;
        text-align: center;
        font-size: .9em;
    }

    li{ 
        background-color: white;
    }

    .banner {
        display: flex;
        flex-direction: column;
    }
    
    .main-footer {
        background-color:whitesmoke;
    }

    .after-hr {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 1em;
        position: sticky;
    }

    #footer-nav {
       display: none; 
    }
}

@media screen and (min-width: 768px) {


    .main-header, ul.main-nav, .banner, .row {
        display: flex;
    }
    
    .header-wrapper, .main-footer {
        background-color:whitesmoke;
        min-width: fit-content;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }

    li {
        background-color: transparent;
    }

    .banner {
        padding-bottom: 2em;
        flex-direction: row-reverse;
        flex: 1 3 auto;
    }

    .logo {
        width: 46%;
    }
    .row {
    flex-wrap: wrap;
   
    }

    .col {
        flex: 1 50%;
    }

    .back-top {
        display: none;
    }

    .contact-text{
        margin: 10px 80px 40px;
    }

    #footer-nav {
        display: inline-flex;
        list-style: none;
        margin-top: 20px;
        font-size: .8em;
    }

    #footer-nav li {
        margin: 0 10px;
    }
        
    }

    @media screen and (min-width: 1025px) {
        
        .main-header, ul.main-nav {
            display: flex;
        }



        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .col {
            flex: 1 30%;
        }

        h1 {
            margin-left: 1.5em;
            font-size: 1.5em;
        }

        nav{
            margin-right: 1em;
        }

        .banner {
            margin: 0 2em;
        }
        .headline {
            text-align: left;

        }


        .contact-text{
            margin: 10px 190px 40px;
        }
    
        #footer-nav {
            display: inline-flex;
            list-style: none;
            margin-top: 20px;
            font-size: .8em;
        }
    
        #footer-nav li {
            margin: 0 10px;
        }

    }